* {
    box-sizing: border-box;
    
}

html {
    font-size: 16px;

}

body {
    font-family: 'Mukta', 'Times New Roman', Helvetica, sans-serif;
    background-color: black;
    color: white;

}

.wrapper {
    display: grid;
    max-height: 130rem;
    grid-template-columns: repeat(6, 1fr);
    grid-auto-rows: minmax(2rem, auto);
    grid-template-areas: 
        'header header header header header header '
        '. intro intro intro name name '
        'projects projects projects projects skills skills'
        'footer footer footer footer footer footer'
}

header {
    grid-area: header;
    height: 4rem;
    margin: 0;
    display: flex;
    justify-content: space-between;
}

header div a img {
    width: 3rem;
    padding-right : 1rem;
    opacity: 0.8;
}

header div a img:hover {
     opacity: 1;
}


header ul {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-items: center;
    list-style-type: none;
    padding: 1rem;
    margin: 0;

}

header ul a {
    text-decoration: none;
    color:aliceblue;   
    margin-right: 1rem;
}

header ul a:active, header ul a:hover {
    color:blueviolet;
}

       /* main page */

.intro {
  grid-area: intro;
}

.intro figure img {
    height: auto;
    border-radius: 50%;
    width: 35%;   
}

.intro figure div {
    vertical-align: middle;
    text-align: center;
    border-radius: 50%;
    background-color: rgba(185,164,166,0.4);
    padding: 2rem;
    margin-top: -10%;
    font-size: 1vw;
    width: 90%;
 }

.intro figure div p  {
    padding:1rem;
    width:60%;
    margin: auto;    
}

.name {
    grid-area: name;
    max-height: 20rem;
    margin-top: 10%;
    margin-left: -10%;
    text-align: center;    
}


.projects {
    grid-area: projects;
    display: flex;
    flex-direction: column;  
    text-align: center;
}


.project-hiking, .project-walking {
    display: flex;
}

.project-hiking img , .project-walking img {
    border-radius: 10px;
    cursor:pointer;
    max-width: 20rem;
    min-height: 10rem;
    margin: 0.5rem;
}


.project-text {
    background-color: rgba(185,164,166,0.4);
    border-radius: 10px;
    padding: 0.1rem 1rem;    
    max-width: 40%;
    margin: 0.5rem;
    text-align: left;
}

.skills {
    grid-area: skills;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: minmax(4rem, auto);
    grid-template-areas:
       " skills skills . . . ."
       " . . . . html ."
       " . . . css . ."
       " . . js . . ."
       " . git . . . ."
       " github . . . . .";     

}

.skills img {
    width: 3rem;
    height: 3rem;
    padding: 0.5rem;
    border: 1px solid rgb(185,164,166);
    border-radius: 50%;
}

.skills h1 {
    grid-area: skills;
    text-align: right;
}

#html {
    grid-area: html;
}

#css {
    grid-area: css;
}

#js {
    grid-area: js;
}

#git {
    grid-area: git;
}

#github {
    grid-area: github;
}

   /* .........................................for mobile ......................................*/
@media only screen and (max-width: 600px) {
    .wrapper {
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: minmax(2rem, auto);
        grid-template-areas: 
            'header header'
            'name name'
            'intro intro'            
            'projects projects '
            'skills skills'
            'footer footer'
    }

    header {
        font-size: 0.5rem;
    }

    header div a img{
        width: 2rem;
    }

   .name {
       text-align: center;
       font-size: 0.7rem;
   }

   .intro figure img {
    height: auto;
    border-radius: 50%;
    width: 50%;   
}

   .intro figure div {
    padding: 2rem;
    font-size: 2vw;
    width: 100%;
 }

    .intro figure div p  {
        padding:0;
        width:80%;   
}
    
   /* ..............projects*/
   
    .project-hiking, .project-walking {
        display: flex;
        flex-direction: column;
        margin: auto;
}
    .project-hiking img , .project-walking img {
        width: 100%;        
}

    .project-text {      
        width: 95%;
        text-align: center;
}

    .skills{
        display: flex;
        flex-wrap:wrap;
        justify-content: space-evenly;
    }
    
    .skills h1 {
        width: 100%;
        text-align: center;
    }
}
 /*...........................end of mobile.........................*/

  /* ...........................tablet and small laptop.............*/

  @media only screen and (max-width: 1034px){
    .wrapper {
        grid-template-columns: repeat(6, 1fr);
        grid-auto-rows: minmax(2rem, auto);
        grid-template-areas: 
            'header header header header header header '
            'intro intro intro intro name name '
            'projects projects projects projects projects projects'
            'skills skills skills skills skills skills '
            'footer footer footer footer footer footer'
    }



   .projects {
       margin: auto;
   }

    .project-text {
        max-width: 100%;
    }
  }

  /* ...........................end of tablet and small laptop.............*/

    /* contact me page*/

.wrapper-contact {
    display: grid;
    height: 30rem;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: minmax(4rem, auto);
    grid-template-areas: 
        " contact-me .  "
        ".  contact-methods ";
}

h1 {
    grid-area: contact-me;
    text-align: center;
}

.contact-methods {
    grid-area: contact-methods;
    border: 1px solid rgb(185,164,166);
    padding: 10rem;
    width: 50%;
    border-radius: 50%;
    display: flex;
    justify-content: space-between;
}

.contact-methods img {
    width: 5rem;
    height: 5rem;
    padding: 0.5rem;
    border: 1px solid rgb(185,164,166);
    border-radius: 50%;
}

footer {
    grid-area : footer;
}


